body {
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    background-color: darkseagreen;
    color: whitesmoke;
}

h2 {
    background-color: #C58940;
    color: #FAF8F1;
}